@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,400);

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  background: #da99ca;
  color: #000000;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

.panel {
  position: absolute;
  z-index: 2;
  height: 300px;
  width: 300px;
  top: 50px;
  left: 50px;
  background: #e5a7a7;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease-in-out;
}

.panel.show-menu {
  transform: translate3d(150px, 0, 0);
}

.panel .header {
  height: 60px;
  width: 100%;
  background: #915e9f;
}

.panel .header .menu-icon {
  position: absolute;
  width: 29px;
  height: 15px;
  top: 23px;
  left: 20px;
  cursor: pointer;
}

.panel .header .menu-icon:hover .dash-top,
.panel .header .menu-icon:hover .dash-bottom,
.panel .header .menu-icon:hover .circle {
  background: #1d0525;
}

.panel .header .menu-icon .dash-top {
  position: absolute;
  width: 20px;
  height: 3px;
  top: 0;
  left: 0;
  background: #ffffff;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
}

.panel .header .menu-icon .dash-bottom {
  position: absolute;
  width: 29px;
  height: 3px;
  top: auto;
  bottom: 0;
  left: 0;
  background: #ffffff;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
}

.panel .header .menu-icon .circle {
  position: absolute;
  height: 7px;
  width: 7px;
  border-radius: 4px;
  top: -2px;
  right: 0;
  background: #cd33e1;
  transition: all 0.2s ease-in-out;
}

.menu-icon.hidden {
  display: none;
}


.panel .header .title {
  display: block;
  text-align: center;
  line-height: 60px;
  color: #ffffff;
  font-weight: 600;
  font-size: 15px;
}

.panel .header .search-input {
  box-sizing: border-box;
  position: absolute;
  top: 13px;
  right: 55px;
  width: 230px;
  height: 34px;
  border-radius: 17px;
  border: none;
  background: #fff;
  padding: 0 17px;
  font-size: 13px;
  color: #666;
  transition: all 0.3s ease-in-out;
  transform: translateX(15px);
  opacity: 0;
  pointer-events: none;
}

.panel .header .search-input:focus {
  outline: none;
}

.panel .header .search-input.active {
  transform: translateX(0);
  opacity: 1;
  pointer-events: all;
}

.panel .header .search-icon {
  position: absolute;
  z-index: 2;
  font-size: 21px;
  color: #781654;
  top: 18px;
  right: 20px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.panel .header .search-icon:hover {
  color: #fff;
}

.panel .notifications {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.panel .notifications .line {
  position: absolute;
  top: 0;
  left: 27px;
  bottom: 0;
  width: 3px;
  background: #ebebeb;
}

.panel .notifications .notification {
  position: relative;
  z-index: 2;
  margin: 25px 20px 25px 43px;
}

.panel .notifications .notification:nth-child(2) {
  animation: here-am-i 0.5s ease-out 0.4s;
  animation-fill-mode: both;
}

.panel .notifications .notification:nth-child(3) {
  animation: here-am-i 0.5s ease-out 0.6s;
  animation-fill-mode: both;
}

.panel .notifications .notification:nth-child(4) {
  animation: here-am-i 0.5s ease-out 0.8s;
  animation-fill-mode: both;
}

.panel .notifications .notification:hover {
  color: #ffffff;
  cursor: pointer;
}

.panel .notifications .notification .circle {
  box-sizing: border-box;
  position: absolute;
  height: 11px;
  width: 11px;
  background: #fff;
  border: 2px solid #5F98CD;
  box-shadow: 0 0 0 3px #fff;
  border-radius: 6px;
  top: 0;
  left: -20px;
}

.panel .notifications .notification .time {
  display: block;
  font-size: 11px;
  line-height: 11px;
  margin-bottom: 2px;
}

.panel .notifications .notification p {
  font-size: 15px;
  line-height: 20px;
  margin: 0;
}

.panel .notifications .notification p b {
  font-weight: 600;
}

.open-menu{
  width: 160px;
  height:280px;
  margin-top: 60px;
  margin-left: 70px;
  background: #986b95;
  border-radius: 3px;
  box-shadow: 0px 3px 10px 0 rgba(0,0,0,0.3);
  padding: 0;
}

.open-menu-slide{
  animation: open-slide-left 1.5s ease-in-out forwards;
}

.open-menu-slide-reverse{
  animation: open-slide-right 1.5s ease-in-out;
}

.open-menu-items{
  list-style-type: none;
  color: #000000;
  font-size: 14px;
  line-height: 14px;
  padding: 10px 0;
  margin: 0;
}

.open-menu-item{
  display: flex;
  gap: 10px;
  padding: 19px; 
  transition: all .2s;
}

.open-menu-item:hover{
  cursor: pointer;
  color: #fff;
  background: rgba(96, 59, 96, 0.9);
}

@keyframes fade-up-1{
  0% { opacity: 0; top: 190px;}
  100% { opacity:1; top: 0;}
}

@keyframes fade-up-2{
  0% { opacity: 0; top: 90px;}
  100% { opacity:1; top: 0;}
}

@keyframes fade-up-3{
  0% { opacity: 0; top: 30px;}
  100% { opacity:1; top: 0;}
}

@keyframes fade-in-input{
  0% { left: 40px; opacity:0; z-index: -10}
  100% { left: 15px; opacity:1; z-index: 10 }
}

@keyframes fade-out-input{
  0% { left: 15px; opacity:1; z-index: 10 }
  100% { left: 40px; opacity:0; z-index: -10 }
}

@keyframes open-slide-left{
  from { margin-left: 160px;}
  to { margin-left: 50px;}
}

@keyframes open-slide-right{
  from { margin-left: 50px;}
  to { margin-left: 160px;}
}

@keyframes container-slide-left{
  from { margin-left: 195px;}
  to { margin-left: 50px;}
}

@keyframes container-slide-right{
  from { margin-left: 50px;}
  to { margin-left: 195px;}
}